{
    "linkedin":{
        "username": "username",
        "password": "password"
    },
    "github":{
        "username": "username",
        "password": "password"
    },
    "twitter":{
        "username": "username",
        "password": "password"
    }

}